* {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #fff;
  opacity: 100%;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #1b1c1e; */
  /* background-image: url("https://images.unsplash.com/photo-1486819118102-d9171cf69a92?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80")
  ; */
  background-image: linear-gradient(
    to bottom,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  overflow-x: hidden;
}

.wrap {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.title {
  padding: 2vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrap-card {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.card {
  width: 40vh;
  height: 40vh;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(145, 80, 80, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card::before {
  opacity: 0.4;
}

.card:nth-child(1)::before {
  content: "1";
  position: absolute;
  top: 2vh;
  left: 2vh;
}

.card:nth-child(2)::before {
  content: "2";
  position: absolute;
  top: 2vh;
  left: 2vh;
}

.card:nth-child(3)::before {
  content: "3";
  position: absolute;
  top: 2vh;
  left: 2vh;
}

.card:nth-child(1) {
  margin: 0 2.5vw 0 5vw;
}

.card:nth-child(3) {
  margin: 0 5vw 0 2.5vw;
}

h1 {
  font-style: italic;
  font-size: 8vh;
  color: #1b1c1e;
}

h2 {
  font-style: italic;
  font-size: 2vh;
}

h3 {
  font-size: 4vh;
  text-align: center;
}

h3:nth-child(1) {
  font-size: 7em;
}

.slap {
  margin-top: 5vh;
  padding: 10px 15px 10px 15px;

  font-size: 2em;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;
  color: #1b1c1e;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}

.slap:active {
  transform: scale(0.9);
}

.wrap-info {
  margin: 2vh 2vh 6vh 2vh;
}

.wrap-info a {
  font-size: 2vh;
  text-decoration: underline;
}

.wrap-all-counters {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.wrap-counter {
  display: flex;
  flex-direction: row;
}

.counter {
  min-width: 50px;
  height: 50px;
  margin: 0 1vh 5vh 1vh;

  font-size: 2em;
  font-weight: 800;
  text-transform: uppercase;
  color: #1b1c1e;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}

.wrap-counter button:nth-child(2n + 1) {
  transform: scale(0.8);
}

.wrap-counter button:nth-child(2n + 1):active {
  transform: scale(0.7);
}

@media screen and (max-width: 700px) {
  .wrap-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .card {
    width: 80vw;
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .card:nth-child(1) {
    margin: 0 0vw 5vw 0vw;
  }

  .card:nth-child(2) {
    margin: 0 0vw 5vw 0vw;
  }

  .card:nth-child(3) {
    margin: 0 0vw 5vw 0vw;
  }

  .wrap-counter {
    display: flex;
    flex-direction: column-reverse;
  }

  .counter {
    margin: 0 0 2vh 0;
  }
}
