* {
  padding: 0;
  margin: 0;
  list-style: none;
  color: #fff;
  opacity: 100%;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #1b1c1e; */
  /* background-image: url("https://images.unsplash.com/photo-1486819118102-d9171cf69a92?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1049&q=80")
  ; */
  background-image: linear-gradient(
    to bottom,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  overflow-x: hidden;
}

.wrap {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  list-style: none;
}

.title {
  padding: 2vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-style: italic;
  font-size: 8vh;
  color: #1b1c1e;
}

h2 {
  font-family: "Rubik", sans-serif;
  font-style: italic;
  font-size: 2vh;
}

.rules-card {
  width: 40vh;
  padding: 4vw;
  margin: 0 0 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: right;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(145, 80, 80, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

h3 {
  font-family: "Rubik", sans-serif;
  font-size: 4vh;
  margin: 0 0 1vh 0;
}

p {
  font-family: "Rubik", sans-serif;
  font-size: 2vh;
  text-align: justify;
}

p:nth-child(2) {
  margin: 0 0 4vh 0;
}

a:nth-last-child(1) {
  font-family: "Rubik", sans-serif;
  font-size: 2vh;
  margin: 0 0 2vh 0;
  text-decoration: underline;
}
